iaas_type: aws
name: {{aws_environment_name}}
vm_shepherd:
  env_config:
    aws_access_key: {{aws_access_key_id}}
    aws_secret_key: {{aws_secret_access_key}}
    stack_name: {{aws_environment_name}}
    region: {{aws_region}}
    outputs:
      security_group: {{ops_manager_security_group_id}}
      public_subnet_id: {{public_subnet_id}}
      instance_profile: {{iam_instance_profile}}
      subnets:
      - {{public_subnet_id}}
      - {{private_subnet_id}}
      - {{private_subnet2_id}}
      s3_bucket_names: [{{ops_manager_s3_bucket_name}}]
    elbs:
    - name: {{aws_environment_name}}-pcf-elb
      port_mappings: [[2222, 22]]
      stack_output_keys:
        subnet_id: PcfPublicSubnetId
        vpc_id: PcfVpc
    - name: {{aws_environment_name}}-pcf-ssh-elb
      port_mappings: [[2222, 22]]
      stack_output_keys:
        subnet_id: PcfPublicSubnetId
        vpc_id: PcfVpc
  vm_configs:
  - vm_name: 'ops-manager-{{aws_environment_name}}'
    key_name: {{aws_key_pair_name}}

ops_manager:
  url: ops_manager_public_url_willbereplaced
  username: admin
  password: {{ops_manager_password}}
  ntp_servers: us.pool.ntp.org
  compilation:
    vm_type: t2.small
    instances: 1
  aws:
    aws_access_key: {{aws_access_key_id}}
    aws_secret_key: {{aws_secret_access_key}}
    instance_profile: {{iam_instance_profile}}
    region: {{aws_region}}
    vpc_id: {{vpc}}
    security_group_id: {{vms_security_group_id}}
    key_pair_name: {{aws_key_pair_name}}
    ssh_key: *ssh_key
  s3_blobstore:
    endpoint: {{aws_s3_endpoint}}
    bucket_name: {{ops_manager_s3_bucket_name}}
    access_key_id: {{aws_access_key_id}}
    secret_access_key: {{aws_secret_access_key}}
    region: {{aws_region}}
  mysql:
    host: {{rds_address}}
    port: {{rds_port}}
    user: {{rds_username}}
    password: {{rds_password}}
    dbname: bosh
  availability_zones:
  - iaas_identifier: {{private_subnet_availability_zone}}
  networks:
  - name: first-network
    identifier: {{private_subnet_id}}
    subnet: 10.0.16.0/20
    reserved_ips: 10.0.16.2-10.0.16.9
    dns: 8.8.8.8
    gateway: 10.0.16.1
    subnets:
    - identifier: {{private_subnet_id}}
      cidr: 10.0.16.0/20
      reserved_ips: 10.0.16.2-10.0.16.9
      dns: 8.8.8.8
      gateway: 10.0.16.1
      availability_zones: [{{private_subnet_availability_zone}}]
    network_assignments:
    deployment_network: first-network
    infrastructure_network: first-network
  elastic_runtime:
    name: cf
    system_domain: {{aws_system_domain}}
    apps_domain: {{aws_system_domain}}
    tcp_domain: tcp.{{aws_system_domain}}
    elb_name: {{aws_environment_name}}-pcf-elb
    elb_dns_name: {{pcf_elb_dns_name}}
    ssh_elb_name: {{aws_environment_name}}-pcf-ssh-elb
    ssh_elb_dns_name: {{pcf_elb_ssh_dns_name}}
    tcp_elb_name: # tcp elb is introduced in 1.8
    tcp_elb_dns_name: # tcp elb is introduced in 1.8
    file_storage:
      endpoint: {{aws_s3_endpoint}}
      bucket: {{ ert_s3_buildpacks_bucket_name }}
      buildpacks_bucket: {{ ert_s3_buildpacks_bucket_name }}
      droplets_bucket: {{ ert_s3_droplets_bucket_name }}
      packages_bucket: {{ ert_s3_packages_bucket_name }}
      resources_bucket: {{ ert_s3_resources_bucket_name }}
      access_key: {{pcf_iam_access_key_id}}
      secret_key: {{pcf_iam_secret_access_key}}
    rds:
      host: {{rds_address}}
      port: {{rds_port}}
      username: {{rds_username}}
      password: {{rds_password}}
    smtp:
      from: {{smtp_from}}
      address: {{smtp_address}}
      port: {{smtp_port}}
      credentials:
        identity: {{smtp_user}}
        password: {{smtp_password}}
      enable_starttls_auto: true
      smtp_auth_mechanism: plain
    trust_self_signed_certificates: true
    ssl_certificate: *ssl_certificate
    ssl_private_key: *ssl_private_key
